.nav-land{
    position: relative;
    top:15px;
    left:80%;
    display:flex;
    width:20%;
    flex-wrap: wrap; 
}
.nav-land button{
    margin-left:15px;
}
.landing{
    position:relative;
    top:85px;
    left:15%;
    width:70%;
    border:2px solid red;
    border-radius:4px;
    background: rgba(237, 236, 238, 0.7);
}
.landing ul{
    margin:10px;
}
.isDisabled {
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
    background-color:#022c43;
    color:cadetblue;
  }
.landing ul li a{
    font-size: 19px;
    font-weight: bolder;
}
